# Ejecutables
sniffer_ubuntu
sniffer
*.exe

# Archivos de datos generados
*.csv

# Archivos temporales o de configuración del sistema/IDE
.DS_Store
.vscode/
*.o
*.out

# Empaquetado e Instaladores (¡NUEVO!)
*.deb
*.zip
sniffer-paquete_*/